/*This will contain styling for the user dashboard.*/
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');

h1 {
    font-size: 40px;
}

body {
    font-family: "DynaPuff", system-ui;
    scroll-behavior: smooth;
    background-color: #7D633F;
    color: #211B11;
}

.navbar a {
    float: right;
    text-align: center;
    padding: 14px 16px;
    margin-top: 15px;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 19px;
    background-color: #211B11;
    color: #D7BC95;
    border-radius: 10px;
}

.navbar a:hover {
    box-shadow: 0 0 8px 6px #D7BC95;
}

.navbar a.active {
    background-color: #FFB600;
    color: #211B11;
}

.navbar img.split {
    float: left;
    padding: 10px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 5%;
    padding-left: 8%;
    padding-right: 8%;
    text-align: left;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    font-size: 25px;
}

input {
    border-radius: 8px;
    padding: 2px;
    background-color: #D7BC95;
    color: #211B11;
    font-size: 18px;
}

.join-button {
    background-color: #211B11;
    color: #FFB600;
}

.start-button {
    background-color: #211B11;
    color: #F50000;
}

