@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');

body {
    font-family: "DynaPuff", system-ui;
    background-color: #7D633F;
    color: #211B11;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 33px;
}

.circular-input::placeholder {
    color: rgba(33,27,17,0.5);
}

.circular-input {
    opacity: 100%;
    background-color: rgba(255, 255, 255, 0);
    width: 40%;
    height: 40%;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

.new-circular-containers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 5%;
    padding-left: 8%;
    padding-right: 8%;
    text-align: left;}

.circular-container {
    position: relative;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: rgba(245,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.round-button {
    width: 190px;
    height: 190px;
    font-size: 18px;
    color: #211B11;
    background-color: rgba(245,0,0,0.6);
    border-radius: 50%;
    text-align: center;
}

.round-button:active {
    background-color: #D7BC95;
}

.round-button-two {
    width: 190px;
    height: 190px;
    color: #211B11;
    background-color: rgba(255,182,0,0.75);
    border-radius: 50%;
    text-align: center;
}

.round-button-two:active {
    background-color: #D7BC95;
}

.submit-answer {
    color: #D7BC95;
}

.center-on-page {
    vertical-align: center;
}

.row-0 {
    padding-top: 18px;
    font-size: 28px;
}

.column-0 {
    margin: 3px 10px;
}

.row-1 {
    position: absolute;
    bottom: 50px;
}

.column-1 {
    margin: 3px 10px;
}

.top-score {
    color: #F50000;
}

.user-score {
    color: #FFB600;
}